section {
	margin-bottom: 30px;
	padding: 50px;
	display: flex;
	flex-flow: row nowrap;
	background-color: $section-background-primary;
	border-radius: 5px;
	box-shadow: $main-item-shadow;

	div.graph {
		align-self: center;
	}

	div.section-content {
		flex: 1;

		h2 {
			color: $section-title-primary;
			font-size: 22px;
			font-family: $font-content;
		}

		p {
			color: $section-text-primary;
			font-size: 10px;
			margin: 8px 0;
			font-family: $font-content;
			text-transform: uppercase;
		}

		p.add-option-guest {
			font-family: $font-content;
			color: $section-text-primary;
			font-size: 15px;
			text-align: center;
			margin: 15px 0;
		}

		input, select {
			padding: 8px 12px;
			margin-bottom: 10px;
			font-family: $font-content;
			color: #333;
			font-size: 14px;
			display: block;
			width: 100%;
		}

		button {
			border: none;
			background-color: #ff3434;
			color: white;
			font-family: $font-content;
			font-size: 14px;
			padding: 5px 8px;
		}
	}
}

@media screen and (max-width: 550px) {
	section {
		flex-flow: column nowrap;

		div.graph {
			margin: 15px;
		}

		div.section-content {
			h2 {
				font-size: 16px;
			}
		}
	}
}
