/* Fonts */
$font-title: 'Varela Round', sans-serif;
$font-content: 'Lato', sans-serif;

/* Header colors */
$header-background-primary: #333;
$header-title-primary: #d1d1d1;
$header-nav-primary: #d1d1d1;
$header-nav-secondary: #aaa;

/* Aside colors */
$aside-background-main: white;
$aside-text-primary: #333;
$aside-text-secondary: #aaa;
$aside-icon-primary: #c7c7c7;

/* Section colors */
$section-background-primary: white;
$section-title-primary: #333;
$section-text-primary: #aaa;
$section-button-background: #3898ec;
$section-button-text: white;

/* Effects */
$main-item-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
