section.section-username {
	display: block;
	padding: 20px;

	h1 {
		color: $section-title-primary;
		font-family: $font-content;
		font-size: 35px;
	}
}

p.poll-list-placeholder {
	text-align: center;
	font-size: 20px;
	color: $aside-icon-primary;
	font-family: $font-content;
}
