aside {
	padding: 20px;
	border-radius: 5px;
	background-color: $aside-background-main;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);

	img {
		width: 70px;
		max-width: 100%;
		border-radius: 100px;
		margin: 0 auto 30px auto;
	}

	p.user-stats {
		font-size: 14px;
		color: $aside-text-primary;
		font-family: $font-content;
		margin-bottom: 20px;
		line-height: 145%;
	}

	div.line {
		width: 90px;
		border-bottom: 1px solid #c7c7c7;
		margin: 15px 0;
	}

	h3 {
		font-size: 14px;
		font-family: $font-content;
		color: $aside-text-primary;
		margin-bottom: 15px;
	}

	ul.top-polls {
		list-style-type: none;

		li {
			margin-bottom: 15px;
			font-family: $font-content;
			font-size: 14px;
			color: $aside-text-secondary;
		}
	}

	ul.media-icons {
		list-style-type: none;

		li {
			margin-right: 10px;

			 i {
				 font-size: 14px;
	 			color: #c7c7c7;
			 }
		}
	}
}
